table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 54%;
    margin-top: 8%;
    border-radius: 10%;
  }
  
  table caption {
    font-size: 235%;
    margin: 0.5em 0 0.75em;
    text-align: center;
    color: #213A8E;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: 1.85em;
    text-transform: uppercase;
    background-color: #213A8E;
    color: #fff;
  }
  table td {
    font-size: 198%;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    width: 96%;
    margin-left: -25%;
    margin-top: 14%;
    }
  
    table caption {
      font-size: 2.3em;
      color: #fff;
      background-color: #213A8E;
      width: 135%;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      /* overflow: hidden; */
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      width: 135%;
    }
    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 163%;
        text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
      padding-bottom: 3%;
    }
@media screen and(max-width: 280px){
  table caption {
    width: 140%;
  }
  table {
    border-collapse: collapse;
    padding: 0;
    width: 104%;
    font-size: 54%;
    margin-left: 24%;
  }
}
}
  
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }